<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"></link>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="navbar header">
        <a href="/">RentSite</a>
    </div>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" id="registration" data-toggle="modal" data-target="#registration_modal" href="">Registration</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="login" data-toggle="modal" data-target="#login_modal" href="">Login</a>
        </li>
    </ul>
</nav>
<div id="products" class="container">
    <!--<p class="lead" th:text="${value.firstName}"></p>-->
    <div class="item col ">
        <h2>Rentables</h2>
        <table class="table table-hover">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>User</th>
                <th>Price</th>
                <th>Status</th>
            </tr>
            <tr th:each="value,iterStat : ${rentableList}">
                <td class="lead" th:text="${value.name}"></td>
                <td class="lead" th:text="${value.description}"></td>
                <td class="lead" th:text="${value.user.getUsername()}"></td>
                <td class="lead" th:text="${value.price.getFullPrice()}"></td>
                <td class="lead" th:text="${value.status}"></td>
            </tr>
        </table>
    </div>
</div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>
</html>
