<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"></link>
</head>
<body>
<div id="products" class="row list-group">
    <!--<p class="lead" th:text="${value.firstName}"></p>-->
    <div class="item col-xs-4 col-lg-4">
        <h2>Users</h2>
        <table class="table table-hover">
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Username</th>
                <th>Password</th>
                <th>E-mail</th>
            </tr>
            <tr th:each="value,iterStat : ${userList}">
                <td class="lead" th:text="${value.firstName}"></td>
                <td class="lead" th:text="${value.lastName}"></td>
                <td class="lead" th:text="${value.username}"></td>
                <td class="lead" th:text="${value.password}"></td>
                <td class="lead" th:text="${value.email}"></td>
            </tr>
        </table>
        <h2>Items</h2>
        <table class="table table-hover">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>User</th>
                <th>Price</th>
            </tr>
            <tr th:each="value,iterStat : ${itemList}">
                <td class="lead" th:text="${value.name}"></td>
                <td class="lead" th:text="${value.description}"></td>
                <td class="lead" th:text="${value.user.getUsername()}"></td>
                <td class="lead" th:text="${value.price.getFullPrice()}"></td>
            </tr>
        </table>
        <h2>Services</h2>
        <table class="table table-hover">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>User</th>
                <th>Price</th>
            </tr>
            <tr th:each="value,iterStat : ${serviceList}">
                <td class="lead" th:text="${value.name}"></td>
                <td class="lead" th:text="${value.description}"></td>
                <td class="lead" th:text="${value.user.getUsername()}"></td>
                <td class="lead" th:text="${value.price.getFullPrice()}"></td>
            </tr>
        </table>
        <h2>Reservation</h2>
        <table class="table table-hover">
            <tr>
                <th>User name</th>
                <th>Rentable name</th>
                <th>From date</th>
                <th>To date</th>
            </tr>
            <tr th:each="value,iterStat : ${reservationList}">
                <td class="lead" th:text="${value.user.getUsername()}"></td>
                <td class="lead" th:text="${value.rentable.getName()}"></td>
                <td class="lead" th:text="${value.rentFrom.toString()}"></td>
                <td class="lead" th:text="${value.rentTo}"></td>
            </tr>
        </table>
</div>
</div>
</body>
</html>
