<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous"></link>

</head>
<body>

<section id="navbar" th:target="this" th:include="navbar"></section>
<section id="login-modal" th:target="this" th:include="modals"></section>
<section id="new-item-modal" th:target="this" th:include="modals"></section>
<section id="register-modal" th:target="this" th:include="modals"></section>


<small th:inline="text">Added by:
    <strong th:text="${rentableDetails.user.getUsername()}"></strong>
</small>

<h1 th:text="${rentableDetails.name}"></h1>
<p th:text="${rentableDetails.description}"></p>
<p th:inline="text">Price:
    <p th:text="${rentableDetails.price.getFullPrice()}"></p>
</p>
<p th:inline="text">Status:
<p th:text="${rentableDetails.status}"></p>
</p>

<a th:href="@{/rent/{path}(path=${rentableDetails.id})}"  class="button">I wanna rent it!</a>

<h2>Rentable reviews:</h2>
<div class="item col">
    <table class="table table-hover">
        <tr>
            <th>Author</th>
            <th>Review</th>
            <th>Rating</th>
        </tr>
        <tr th:each="value,iterStat : ${reviews}">
            <td class="lead" th:text="${value.author.getUsername()}"></td>
            <td class="lead" th:text="${value.description}"></td>
            <td class="lead" th:text="${value.rate}"></td>
        </tr>
    </table>
</div>

<a href="/">Back to index page</a>


<script src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>
<script src="/script/dom.js"></script>
<script src="/script/login.js"></script>
</body>
</html>