<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous"></link>

</head>
<body>
<section id="user-review">
    <nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
        <div class="navbar header">
            <a href="/">RentSite</a>
        </div>
        <div id="navbarButtons">
            <div>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" id="logout"   href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
            <div>
                <ul class="navbar-nav mr-auto navbar-header">
                    <li class="nav-item">
                        <button class="btn btn-outline-primary pull-right" id="userReview" type="button" data-toggle="modal" data-target="#newReviewModal">Create user review</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</section>

</body>
</html>